<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.mall.mapper.ItemMapper">

    <resultMap id="BaseResultMap" type="com.lei.mall.model.entity.Item">
            <id property="id" column="id" />
            <result property="categoryid" column="categoryId" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="imageurl" column="imageUrl" />
            <result property="pointPrice" column="pointPrice" />
            <result property="orderCount" column="orderCount"/>
            <result property="stock" column="stock" />
            <result property="unit" column="unit" />
            <result property="status" column="status" />
            <result property="isDelete" column="isDelete" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from item
        where id = #{id}
    </select>

    <resultMap id="ItemCategoryVOResultMap" type="com.lei.mall.model.vo.ItemCategoryVO">
        <id property="id" column="id"/>
        <result property="categoryid" column="categoryId"/>
        <result property="name" column="itemName"/>
        <result property="description" column="itemDescription"/>
        <result property="imageurl" column="imageUrl"/>
        <result property="pointPrice" column="pointPrice"/>
        <result property="stock" column="stock"/>
        <result property="unit" column="unit"/>
        <result property="orderCount" column="orderCount"/>
        <result property="status" column="status"/>
        <result property="categoryName" column="categoryName"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,categoryId,name,description,imageUrl,pointPrice,
        stock,unit,status,orderCount,isDelete,createTime,updateTime
    </sql>

    <select id="selectVoById" resultMap="ItemCategoryVOResultMap">
        SELECT
            i.id,
            i.categoryId,
            c.name AS categoryName,
            i.name AS itemName,
            i.description AS itemDescription,
            i.imageUrl,
            i.pointPrice,
            i.stock,
            i.orderCount,
            i.unit,
            i.status,
            i.createTime,
            i.updateTime
        FROM item i
                 LEFT JOIN category c ON i.categoryId = c.id
        WHERE i.isDelete = 0 AND i.id = #{id}
        ORDER BY i.createTime DESC
    </select>
    
    <select id="selectItemCategoryVoByPage" resultMap="ItemCategoryVOResultMap">
        SELECT 
            i.id,
            i.categoryId,
            i.name AS itemName,
            i.description AS itemDescription,
            i.imageUrl,
            i.pointPrice,
            i.orderCount,
            i.stock,
            i.unit,
            i.status,
            c.name AS categoryName,
            i.createTime,
            i.updateTime
        FROM item i
        LEFT JOIN category c ON i.categoryId = c.id
        WHERE i.isDelete = 0
        <if test="query.name != null and query.name != ''">
            AND i.name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.categoryid != null and query.categoryid > 0">
            AND i.categoryId = #{query.categoryid}
        </if>
        <if test="query.categoryName != null and query.categoryName != ''">
            AND c.name LIKE CONCAT('%', #{query.categoryName}, '%')
        </if>
        <if test="query.minPointPrice != null and query.minPointPrice > 0">
            <if test="query.maxPointPrice != null and query.maxPointPrice > 0">
                AND i.pointPrice BETWEEN #{query.minPointPrice} AND #{query.maxPointPrice}
            </if>
            <if test="query.maxPointPrice == null or query.maxPointPrice &lt;= 0">
                AND i.pointPrice >= #{query.minPointPrice}
            </if>
        </if>
        <if test="query.minPointPrice == null or query.minPointPrice &lt;= 0">
            <if test="query.maxPointPrice != null and query.maxPointPrice > 0">
                AND i.pointPrice &lt;= #{query.maxPointPrice}
            </if>
        </if>
        <if test="query.minStock != null and query.minStock > 0">
            <if test="query.maxStock != null and query.maxStock > 0">
                AND i.stock BETWEEN #{query.minStock} AND #{query.maxStock}
            </if>
            <if test="query.maxStock == null or query.maxStock &lt;= 0">
                AND i.stock >= #{query.minStock}
            </if>
        </if>
        <if test="query.minStock == null or query.minStock &lt;= 0">
            <if test="query.maxStock != null and query.maxStock > 0">
                AND i.stock &lt;= #{query.maxStock}
            </if>
        </if>
        ORDER BY i.createTime DESC
    </select>
</mapper>