<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.mall.mapper.PurchaseRecordMapper">

    <resultMap id="BaseResultMap" type="com.lei.mall.model.entity.PurchaseRecord">
            <id property="id" column="id" />
            <result property="itemid" column="itemId" />
            <result property="userid" column="userId" />
            <result property="isDelete" column="isDelete" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,itemId,userId,isDelete,createTime,updateTime
    </sql>
</mapper>
